.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
    .navbar-collapse.collapse(role="navigation")
      ul.nav.navbar-nav
        li
          a(href="https://v3.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])") 视屏